<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010239918726-096vktbf177r6g61np75qtrjk7jl93o6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010239918726-096vktbf177r6g61np75qtrjk7jl93o6</string>
	<key>API_KEY</key>
	<string>AIzaSyC8Bh5isUlptwMH1HrQyzoGkEktGmBXRPs</string>
	<key>GCM_SENDER_ID</key>
	<string>1010239918726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-9d9a5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-9d9a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010239918726:ios:6bfdd0e71bc392f765f707</string>
</dict>
</plist>